langgraph 
fastapi 
uvicorn 
python-dotenv
tavily-python
streamlit
streamlit-mermaid
langchain-google-genai
langchain-chroma 
pypdf
sentence-transformers
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph-checkpoint-sqlite
